.stepper-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.stepper-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;

  @media (max-width: 768px) {
    font-size: 12px;
  }
}

.stepper-item::before {
  position: absolute;
  content: "";
  border-bottom: 2px solid #ccc;
  width: 100%;
  top: 20px;
  left: -50%;
  z-index: 1;
}

.stepper-item::after {
  position: absolute;
  content: "";
  border-bottom: 2px solid #ccc;
  width: 100%;
  top: 20px;
  left: 50%;
  z-index: 1;
}

.stepper-item .step-counter {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #ccc;
  margin-bottom: 6px;
}


.stepper-item.active .step-counter {
  font-weight: bold;
  background-color: #fcd34d;
}

.stepper-item.completed .step-counter {
  background-color: #34d399;
}

.stepper-item.completed::after {
  position: absolute;
  content: "";
  border-bottom: 2px solid #34d399;
  width: 100%;
  top: 20px;
  left: 50%;
  z-index: 2;
}

.stepper-item.active::after {
  position: absolute;
  content: "";
  border-bottom: 2px solid #ccc;
  width: 100%;
  top: 20px;
  left: 50%;
  z-index: 4;
}

.stepper-item.active::before {
  position: absolute;
  content: "";
  border-bottom: 2px solid #fcd34d;
  width: 100%;
  top: 20px;
  left: -50%;
  z-index: 4;
}

.stepper-item.denied .step-counter {
  background-color: #fb7185;
}

.stepper-item.denied::before {
  position: absolute;
  content: "";
  border-bottom: 2px solid #fb7185;
  width: 100%;
  top: 20px;
  left: -50%;
  z-index: 4;
}


.stepper-item:first-child::before {
  content: none;
}
.stepper-item:last-child::after {
  content: none;
}
